<section class="page-header">
  <div class="header-left">
    <a href="<%= site.basePath %>/">
      <img class="logo" src="<%= site.basePath %>/assets/images/logo.png" alt="<%= site.title %>" />
    </a>
  </div>
  <div class="header-right">
    <a href="<%= site.basePath %>/categories" class="btn">Categories</a>
    <a href="<%= site.basePath %>/about" class="btn">About</a>
  </div>
</section>
