<section class="page-header">
  <div class="page-header-left">
    <a href="<%= site.basePath %>/">
      <img
        class="logo"
        src="<%= site.basePath %>/assets/images/logo-for-white-bg-transparent.png"
        alt="<%= site.title %>"
      />
    </a>
  </div>
  <div class="page-header-right">
    <div class="gcse-search"></div>
  </div>
  <div class="page-header-menu">
    <% helper.dataHelper.allCategories.forEach((category) => { %>
    <a href="<%= site.basePath %>/<%= category.url %>" class="btn"><%= category.title %></a>
    <% }) %>
  </div>
</section>
