<div class="post-body">
  <% var post = helper.dataHelper.getPost(page.url); %>

  <div class="post-body-social">
    <div class="post-body-social-left">
      <div class="post-body-tags">
        <ul>
          <% post.tags.forEach((tag) => { %>
          <li><a href="#"><%= tag %></a></li>
          <% }); %>
        </ul>
      </div>
    </div>
    <div class="post-body-social-right">
      <a
        href="#"
        onclick="copyToClipboard(window.location.host + '<%= site.basePath %>/<%= post.url %>'); return false;"
        class="btn"
        ><i class="material-icons"> link </i></a
      >
    </div>
  </div>
  <div class="post-body-continue">
    <% var prevPost = helper.dataHelper.getPrevPost(page.url); var nextPost =
    helper.dataHelper.getNextPost(page.url); %>
    <div class="post-body-continue-left">
      <% if (prevPost !== undefined) { %>
      <a href="<%= site.basePath %>/<%= prevPost.url %>" class="btn">
        <i class="material-icons"> arrow_back_ios </i>
        Previous<span class="post-body-continue-post-title">: <%= prevPost.title %></span></a
      >
      <% } %>
    </div>
    <div class="post-body-continue-right">
      <% if (nextPost !== undefined) { %>
      <a href="<%= site.basePath %>/<%= nextPost.url %>" class="btn">
        Next<span class="post-body-continue-post-title">: <%= nextPost.title %></span>
        <i class="material-icons"> arrow_forward_ios </i>
      </a>
      <% } %>
    </div>
  </div>
</div>
<div id="disqus_thread"></div>
<script>
  var disqus_config = function () {
    var PAGE_URL = 'https://aiengineer.net/';
    var PAGE_IDENTIFIER = 'https://aiengineer.net/';
    this.page.url = PAGE_URL;
    this.page.identifier = PAGE_IDENTIFIER;
  };
  (function () {
    // DON'T EDIT BELOW THIS LINE
    var d = document,
      s = d.createElement('script');
    s.src = 'https://ai-engineer.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript
  >Please enable JavaScript to view the
  <a href="https://disqus.com/?ref_noscript">comments.</a></noscript
>
