<div class="pre-body">
  <% var parentUrl=helper.dataHelper.getParentUrl(page.url); %> <% if (parentUrl !== undefined) { %>
  <% var parentName=helper.dataHelper.getTopicTitleByUrl(parentUrl); %> <% if (parentName !==
  undefined) { %>
  <a href="<%= site.basePath %>/<%= parentUrl %>" class="btn"> Back to <%= parentName %> </a>
  <% } %> <% } %> <% var post=helper.dataHelper.getPost(page.url); %>
  <h1><%= post.title %></h1>

  <div class="post-info">
    <%= helper.moment(page.createdDate).format('MMM DD, YYYY') %> · <%= page.readingTime %> min read
  </div>
</div>
