---
title: Categories
---

<h1>Categories</h1>

<ul>
  <% site.posts.forEach((category) => { %>
  <li>
    <a href="<%= site.basePath %>/<%= category.url %>"><%= category.title %></a> <%
    category.childs.forEach((categoryChild) => { %> <% if (categoryChild.type === 'topic') { %>
    <ul>
      <li>
        <a href="<%= site.basePath %>/<%= categoryChild.url %>"><%= categoryChild.title %></a>
      </li>
    </ul>
    <% } %> <% }) %>
  </li>
  <% }) %>
</ul>
