---
title: AI Engineer
---

<h2>About</h2>

<p class="avatar">
  <a href="#" target="_blank">
    <img alt="Personal Avatar" src="/assets/images/about/hagiang-ava.jpg">
  </a>
</p>

<p>I'm an engineer who loves getting hands-on with different parts of an ML system like Project Scoping, Data Management, Model Development, Deployment, Monitoring, Maintenance, and Business Analysis.</p>

<p>I also like talking about the intersection of technology, health, life, and musical instruments.</p>

<p>I believe that learning is a lifetime journey, and my interests will be the rocket fuel to lead me along the way.</p>

<p>If I were the last person on Earth, I would still make my art.</p>


<h2>Latest Posts</h2>

<ul>
  <% helper.dataHelper.latestPostsGroupedByCategory.forEach((category) => { %>
  <li>
    <a href="<%= site.basePath %>/<%= category.url %>"><%= category.title %></a>
    <ul>
    <% category.childs.forEach((post) => { %>
      <li>
        <a href="<%= site.basePath %>/<%= post.url %>"><%= post.title %></a>
      </li>
    <% }) %>
    </ul>
  </li>
  </br>
  <% }) %>
</ul>
