<!DOCTYPE html>
<html lang="en-US">
  <%- include('./partials/header') %>
  <body>
    <%- include('./partials/navigation') %>

    <section class="main-content">
      <% var category = helper.dataHelper.getCategory(page.url); if (category !== undefined) { %>
      <h1><%= category.title %></h1>
      <ul>
        <% category.childs.forEach((topicChild) => { %>
        <li>
          <a href="<%= site.basePath %>/<%= topicChild.url %>"><%= topicChild.title %></a>
        </li>
        <% }) %>
      </ul>
      <% } %>
    </section>
    <%- include('./partials/footer') %>
  </body>
</html>
