<!DOCTYPE html>
<html lang="en-US">
  <%- include('./partials/header') %>
  <body>
    <%- include('./partials/navigation') %>
    <section class="main-content">
      <%- include('./partials/pre-body') %> <%- body %> <%- include('./partials/post-body') %>
    </section>
    <%- include('./partials/footer') %>
  </body>
</html>
