<!DOCTYPE html>
<html lang="en-US">
  <%- include('./partials/header') %>
  <body>
    <%- include('./partials/navigation') %>

    <section class="main-content">
      <% var parentUrl=helper.dataHelper.getParentUrl(page.url); %> <% if (parentUrl !== undefined)
      { %> <% var parentName=helper.dataHelper.getCategoryTitleByUrl(parentUrl); %> <% if
      (parentName !== undefined) { %>
      <a href="<%= site.basePath %>/<%= parentUrl %>" class="btn"> Back to <%= parentName %> </a>
      <% } %> <% } %> <% var post=helper.dataHelper.getPost(page.url); %> <% var topic =
      helper.dataHelper.getTopic(page.url); if (topic !== undefined) { %>
      <h1><%= topic.title %></h1>
      <ul>
        <% topic.childs.forEach((topicChild) => { %>
        <li>
          <a href="<%= site.basePath %>/<%= topicChild.url %>"><%= topicChild.title %></a>
        </li>
        <% }) %>
      </ul>
      <% } %>
    </section>
    <%- include('./partials/footer') %>
  </body>
</html>
