<!DOCTYPE html>
<html lang="en-US">
  <%- include('./partials/header') %>
  <body>
    <%- include('./partials/navigation') %>

    <section class="main-content">
      <% var topic = helper.dataHelper.getTopic(page.url); if (topic !== undefined) { %>
      <h1><%= topic.title %></h1>
      <ul>
        <% topic.childs.forEach((topicChild) => { %>
        <li>
          <a href="<%= site.basePath %>/<%= topicChild.url %>"><%= topicChild.title %></a>
        </li>
        <% }) %>
      </ul>
      <% } %>
    </section>
    <%- include('./partials/footer') %>
  </body>
</html>
