<!DOCTYPE html>
<html lang="en-US">
  <%- include('./partials/header') %>
  <body>
    <%- include('./partials/navigation') %>

    <section class="main-content">
      <% site.posts.forEach((category) => { category.childs.forEach((categoryChild) => { if
      (categoryChild.type === 'topic' && categoryChild.title === page.title) { %>
      <h1><%= categoryChild.title %></h1>
      <ul>
        <% categoryChild.childs.forEach((topicChild) => { %>
        <li>
          <a href="<%= site.basePath %>/<%= topicChild.url %>"><%= topicChild.title %></a>
        </li>
        <% }) %>
      </ul>
      <% }})}) %>
    </section>
    <%- include('./partials/footer') %>
  </body>
</html>
